<div class="modal-header">
    <h4 class="modal-title">タグ</h4>
</div>
<div class="modal-body">
    <div ng-repeat="tag in tags">
        <div class="form-group">
            <label for="tag-{{$index}}" class="control-label">タグ{{$index}}</label>
                <input type="text" name="tag-{{index}}" value="" id="tag-{{index}}" ng-model="tag-{{index}}" class="form-control modalClass">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="update()">更新</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
</div>
