<div class="modal-header">
    <h4 class="modal-title">{{title}}の「行った」を登録</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="container-fluid text-sm">
            <div class="col-sm-3">
                ジャンル：
            </div>
            <div class="col-sm-9 text-sm">
                <p>
                    ◯◯◯の評価基準 1
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    ◯◯◯の評価基準 2
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    ◯◯◯の評価基準 3
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    ◯◯◯の評価基準 4
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    ◯◯◯の評価基準 5
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
            </div>
        </div>
    </div><!-- /row -->
    <p>
        <hr>
    </p>
    <div class="row">
        <div class="container-fluid text-sm">
            <div class="col-sm-3">
                シーン：
            </div>
            <div class="col-sm-9 text-sm">
                <p>
                    ◯◯◯の評価基準 1
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    ◯◯◯の評価基準 2
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    ◯◯◯の評価基準 3
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    ◯◯◯の評価基準 4
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    ◯◯◯の評価基準 5
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
            </div>
        </div>
    </div><!-- /row -->
    <p>
        <hr>
    </p>
    <div class="row">
        <div class="container-fluid text-sm">
            <div class="col-sm-3">
                コメント
            </div>
            <div class="col-sm-9 text-sm">
                <textarea name="name" rows="8" cols="40" class="form-control"></textarea>
            </div>
    </div><!-- /row -->
    <p>
        <hr>
    </p>
    <div class="row">
        <div class="container-fluid text-sm">
            <div class="col-sm-3">
                画像登録：
            </div>
            <div class="col-sm-9 text-sm">
                <input type="file" name="name" value="">
                <br>
                <input type="file" name="name" value="">
                <br>
                <input type="file" name="name" value="">
                <br>
                <input type="file" name="name" value="">
                <br>
                <input type="file" name="name" value="">
                <br>
            </div>
        </div>
    </div><!-- /row -->
</div><!-- /modal-body -->
<div class="modal-footer">
    <button class="btn" type="button" ng-click="cancel()" ng-disabled="myForm.$invalid">戻る</button>
    <button class="btn" type="button" ng-click="update()">登録する</button>
</div>
