<div class="modal-header">
    <h4 class="modal-title">{{modalOption.item.name}}の「行った」を登録</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="container-fluid text-sm">
            <div class="col-sm-3">
                ジャンル：{{modalOption.genre.name}}
            </div>
            <div class="col-sm-9 text-sm">
                <p>
                    {{modalOption.genre.beautiful}}の評価基準
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    {{modalOption.genre.originality}}の評価基準
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    {{modalOption.genre.beautiful}}の評価基準
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    {{modalOption.genre.quality}}の評価基準
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    {{modalOption.genre.sense}}の評価基準
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
            </div>
        </div>
    </div><!-- /row -->
    <p>
        <hr>
    </p>
    <div class="row">
        <div class="container-fluid text-sm" ng-repeat="scenelist in scenelists | filter : {'name': '高級接待'}">
            <div class="col-sm-3">
                シーン：{{scenelist.name}}
            </div>
            <div class="col-sm-9 text-sm">
                <p>
                    {{scenelist.value1}}の評価基準
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    {{scenelist.value2}}の評価基準
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    {{scenelist.value3}}の評価基準
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    {{scenelist.value4}}の評価基準
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
                <br>
                <p>
                    {{scenelist.value5}}の評価基準
                    <input type="radio" name="genre" value="1" id="rate1" class="margin-left-md">
                    <label for="rate1">1</label>
                    <input type="radio" name="genre" value="2" id="rate2" class="margin-left-sm">
                    <label for="rate2">2</label>
                    <input type="radio" name="genre" value="3" id="rate3" class="margin-left-sm">
                    <label for="rate3">3</label>
                    <input type="radio" name="genre" value="4" id="rate4" class="margin-left-sm">
                    <label for="rate4">4</label>
                    <input type="radio" name="genre" value="5" id="rate5" class="margin-left-sm">
                    <label for="rate5">5</label>
                </p>
            </div>
        </div>
    </div><!-- /row -->
    <p>
        <hr>
    </p>
    <div class="row">
        <div class="container-fluid text-sm">
            <div class="col-sm-3">
                コメント
            </div>
            <div class="col-sm-9 text-sm">
                <textarea name="name" rows="8" cols="40" class="form-control"></textarea>
            </div>
    </div><!-- /row -->
    <p>
        <hr>
    </p>
    <div class="row">
        <div class="container-fluid text-sm">
            <div class="col-sm-3">
                画像登録：
            </div>
            <div class="col-sm-9 text-sm">
                <input type="file" name="name" value="">
                <br>
                <input type="file" name="name" value="">
                <br>
                <input type="file" name="name" value="">
                <br>
                <input type="file" name="name" value="">
                <br>
                <input type="file" name="name" value="">
                <br>
            </div>
        </div>
    </div><!-- /row -->
</div><!-- /modal-body -->
<div class="modal-footer">
    <button class="btn" type="button" ng-click="cancel()" ng-disabled="myForm.$invalid">戻る</button>
    <button class="btn" type="button" ng-click="update()">登録する</button>
</div>
