<div class="modal-header">
    <h4 class="modal-title" ng-bind="title"></h4>
</div>
<div class="modal-body">
        <h4 class="page-header">{{title}}&nbsp;1</h4>
        <br>
        <div class="form-group">
            <label for="{{titleEng}}-1" class="control-label">{{title}}名</label>
                <input type="text" name="{{titleEng}}-1" value="" id="{{titleEng}}-1" class="form-control modalClass">
        </div>
        <div class="form-group">
            <label for="{{titleEng}}-1" class="control-label">{{title}}レート</label>
                <input type="text" name="{{titleEng}}-1" value="" id="{{titleEng}}-1" class="form-control modalClass">
        </div>

        <h4 class="page-header">{{title}}&nbsp;2</h4>
        <br>
        <div class="form-group">
            <label for="{{titleEng}}-2" class="control-label">{{title}}名</label>
                <input type="text" name="{{titleEng}}-2" value="" id="{{titleEng}}-2" class="form-control modalClass">
        </div>
        <div class="form-group">
            <label for="{{titleEng}}-2" class="control-label">{{title}}レート</label>
                <input type="text" name="{{titleEng}}-2" value="" id="{{titleEng}}-2" class="form-control modalClass">
        </div>

        <h4 class="page-header">{{title}}&nbsp;3</h4>
        <br>
        <div class="form-group">
            <label for="{{titleEng}}-3" class="control-label">{{title}}名</label>
                <input type="text" name="{{titleEng}}-3" value="" id="{{titleEng}}-3" class="form-control modalClass">
        </div>
        <div class="form-group">
            <label for="{{titleEng}}-3" class="control-label">{{title}}レート</label>
                <input type="text" name="{{titleEng}}-3" value="" id="{{titleEng}}-3" class="form-control modalClass">
        </div>

</div>
<div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="update()">更新</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
</div>
