<div class="modal-header">
    <h4 class="modal-title">編集</h4>
</div>
<div class="modal-body">

    <div class="form-group">
        <label for="editItem._id" class="control-label">ID</label>
        <input type="text" name="editItem._id" value="" id="editItem._id" ng-model="editItem._id" class="form-control modalClass" disabled>
    </div>

    <div class="form-group">
        <label for="editItem.name" class="control-label">店舗名</label>
        <input type="text" name="editItem.name" value="" id="editItem.name" ng-model="editItem.name" class="form-control modalClass">
    </div>

    <div class="form-group">
        <label for="editItem.branch" class="control-label">支店名</label>
        <input type="text" name="editItem.branch" value="" id="editItem.branch" ng-model="editItem.branch" class="form-control modalClass">
    </div>

    <div class="form-group">
        <label for="editItem.area" class="control-label">エリア</label>
        <input type="text" name="editItem.area" value="" id="editItem.area" ng-model="editItem.area" class="form-control modalClass">
    </div>

    <div class="form-group">
        <label for="editItem.kana" class="control-label">店舗名(カナ)</label>
        <input type="text" name="editItem.kana" value="" id="editItem.kana" ng-model="editItem.kana" class="form-control modalClass">
    </div>

    <div class="form-group">
        <label for="editItem.otherName" class="control-label">店舗名(別名)</label>
        <input type="text" name="editItem.otherName" value="" id="editItem.otherName" ng-model="editItem.otherName" class="form-control modalClass">
    </div>

    <div class="form-group">
        <label for="editItem.tel" class="control-label">電話番号</label>
        <input type="text" name="editItem.tel" value="" id="editItem.tel" ng-model="editItem.tel" class="form-control modalClass">
    </div>


    <div class="form-group">
        <label for="editItem.address.postalCode" class="control-label">郵便番号</label>
        <input type="text" name="editItem.address.postalCode" value="" id="editItem.address.postalCode" ng-model="editItem.address.postalCode" class="form-control modalClass">
    </div>


    <div class="form-group">
        <label for="editItem.address.pref" class="control-label">都道府県</label>
        <input type="text" name="editItem.address.pref" value="" id="editItem.address.pref" ng-model="editItem.address.pref" class="form-control modalClass">
    </div>


    <div class="form-group">
        <label for="editItem.address.city" class="control-label">市区町村</label>
        <input type="text" name="editItem.address.city" value="" id="editItem.address.city" ng-model="editItem.address.city" class="form-control modalClass">
    </div>


    <div class="form-group">
        <label for="editItem.address.town" class="control-label">町番地</label>
        <input type="text" name="editItem.address.town" value="" id="editItem.address.town" ng-model="editItem.address.town" class="form-control modalClass">
    </div>


    <div class="form-group">
        <label for="editItem.address.building" class="control-label">ビル名</label>
        <input type="text" name="editItem.address.building" value="" id="editItem.address.building" ng-model="editItem.address.building" class="form-control modalClass">
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="update()">更新</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
</div>
