<div ng-class="{note : pop.show}" ng-show="pop.show" class="cssanimations csstransforms">
    {{pop.message}}
</div>
<div id="bg_black"> </div>
<div id="main_contents">
    <p class="settled_store">登録可能件数10件中{{items.length}}件登録済み</p>
    <div ng-show="items.length==0">
        現在、推薦店舗に登録されている店舗がございません。
    </div>
        <div ng-repeat="item in items | filter: {'sceneNames' : sceneName}">
            <div class="recommend_list" style="margin-bottom:20px;">
                <div class="store_img">
                    <image class="store_img" src="./assets/./images/items/sample.jpg">
                </div>
                <div class="store_info">
                    <h5>{{item.name}}<span class="item_area">&nbsp;({{item.area}})</span></h5>
                    <p class="store_attribute">({{item.genreName}})&nbsp;({{item.sceneNames.join(" ")}})</p>
                    <p class="gradation_thin_border"></p>
                    <div class="box_header">
                       <ul>
                            <li><h3><b>ジャンル</b>{{sum_ave[item._id].genreAve | number:1}}</h3></li>
                            <li><h3><b>シーン</b>{{sum_ave[item._id].sceneAve | number:1}}</h3></li>
                        </ul>
                    </div>
                    <p class="see_store_info black_btn"><a ui-sref="shopDetail.main({item: item})">店舗情報を見る</a></p>
                    <button type="button" class="blue_btn circle delete" ng-click="recommendDelete(item._id);"><i class="fa fa-times"></i>&nbsp;削除する</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    <coco-sidebar-min></coco-sidebar-min>
    </div>
</div>
