#profile{
    background-color: #fff;
    padding: 50px 70px;
}
#profile li{
    font-size: 12px;
    line-height: 22px;
}
#profile h5{
    border-bottom: 2px solid #000;;
    padding-left: 15px;
    padding-bottom: 5px;
}
.profile_main{
    overflow: hidden;
    padding-right: 20px;
    padding-bottom: 15px;
}
.profile{
    width: 60%;
    margin-right: 5%;
    float: left;
}
.profile ul{
    margin-bottom: 20px;
    margin-left: 10px;
}
.profile_header{
    background-color: #000;
    color: #fff;
    padding: 5px 0 5px 15px;
    margin-bottom: 20px;
    font-size: 14px;
}
.profile_img_box{
    width: 35%;
    height: 300px;
    float: left;
    background-color: #ccc;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
}
.profile_img{
    width: 100%;
    height: 100%;
}
.profile_detail{
    margin-top: 70px;
}
.profile_detail h6{
    font-weight: 600;
    margin: 10px 0;
}
.profile_detail p{
    font-size: 12px;
    line-height: 22px;
}
.profile_detail_main{
    padding: 15px;
    border-top: 5px solid #000;
    margin-top: 2px;
}
.profile_ditail_multi{
    margin-bottom: 40px;
}
