<div id="bg_black"> </div>
<div id="main_contents">
    <p class="settled_store">登録可能件数10件中10件登録済み</p>
    <div ng-repeat="comment in comments | filter: {_id: loginUser._id, recommendItems: loginUser.recommendItems}">
        <div class="recommend_list" style="margin-bottom:20px;">
            <div class="store_img">
                画像
            </div>
                <div class="store_info">
                    <h5>{{comment.item.name}}<span class="item_area">&nbsp;({{comment.item.area}})</span></h5>
                    <p class="store_attribute">({{comment.item.genreName}})&nbsp;(<span ng-repeat="sceneName in comment.item.sceneNames">{{sceneName}}&nbsp;</span>)</p>
                    <p class="gradation_thin_border"></p>
                    <div class="box_header">
                       <ul>
                            <li><h3><b>ジャンル</b>{{item_comments[item._id].genreAve | number:1}}</h3></li>
                            <li><h3><b>シーン</b>{{item_comments[item._id].sceneAve | number:1}}</h3></li>
                        </ul>
                    </div>
                    <p class="see_store_info black_btn"><a ui-sref="shopDetail.main">店舗情報を見る</a></p>
                    <button type="button" class="blue_btn circle delete"><i class="fa fa-times"></i>&nbsp;削除する</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sidemenu">
    <p class="lightBlue_btn circle store_add"><a ui-sref="newItem.regist"><i class="fa fa-pencil"></i>お店を追加登録する</a></p>
    <div class="sidemenu_box">
        <h3>利用用途から探す</h3>
        <ul ng-repeat="area in areas">
            <li ng-class="{current:$parent.area==area.name}"><a href="" ng-click="findAddArea(area.name)">{{area.name}}</a></li>
        </ul>
    </div>
</div>
