<div ng-class="{note : pop.show}" ng-show="pop.show" class="cssanimations csstransforms">
    {{pop.message}}
</div>
<div id="bg_black"> </div>
<div id="main_contents">
    <div ng-repeat="comment in went_comments | filter: {'genre' : {'name' : genreName}, 'scene' : {'name' : sceneName}, 'item' : {'area' : area}} | limitTo:10:(currentPage-1)*10">
        <div id="went_list">
            <div class="went_list">
                <div class="went_list_main">
                    <div class="went_top">
                        <h4 class="went_title">{{comment.item.name}}&nbsp;<span class="item_area">({{comment.item.area}})</span></h4>
                        <p class="store_attribute">({{comment.item.genreName}})&nbsp;(<span ng-repeat="sceneName in comment.item.sceneNames">{{sceneName}}&nbsp;</span>)</p>
                    </div>
                    <p class="gradation_thick_border"></p>
                    <div class="wentTitle_box">
                        <h5>【{{comment.title}}】</h5>
                        <div class="box_header">
                           <ul>
                                <li><h3><b>ジャンル</b>{{comment.genreAve | number: 1}}</h3></li>
                                <li><h3><b>シーン</b>{{comment.sceneAve | number: 1}}</h3></li>
                            </ul>
                        </div>
                    <button class="blue_btn recommendation" type="button"  ng-click="recommendAdd(comment.item._id);"><i class="fa fa-star-o"></i>&nbsp;推薦する</button>
                    <p class="edit white_btn"><a went-edit-modal="{{comment}}" href="#">編集する</a></p>
                    </div>
                    <p class="gradation_thin_border"></p>
                    <p class="impressions">
                        {{comment.body}}
                    </p>
                    <p class="see_more"><a href="#">もっと見る</a></p>
                    <div class="went_img">
                        <ul>
                            <li ng-repeat="image in comment.images | limitTo:5:0"><img src="{{image.path}}" style="height:100px;width:100px"/></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- #main -->
<coco-sidebar></coco-sidebar>
