.white_btn a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    margin: 0px 0px 0px 10px;
    padding: 2px 15px;
    line-height: 20px;
    background-image: -moz-linear-gradient(top, #fff, #ddd);
    background-image: -ms-linear-gradient(top, #fff, #ddd);
    background-image: -webkit-linear-gradient(top, #fff, #ddd);
    background-image: linear-gradient(top, #fff, #ddd);
    background-clip: padding-box;
    box-shadow:rgba(0, 0, 0, 0.521569) 1px 2px 3px 1px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.521569) 1px 2px 3px 1px;
    -moz-box-shadow:rgba(0, 0, 0, 0.521569) 1px 2px 3px 1px;
}
