<header id="header">

    <nav id="mainmenu">

        <div class="mainmenu_header">
            <h2><a href=""><img src="./assets/./images/header/logo.svg" alt="ココ社長" /></a></h2>
            <div id="login_box">
                <ul>
                    <li><input type="email" value="Email" /></li>
                    <li><input type="text" value="Password" /></li>
                    <li><a href=""><img src="./assets/./images/header/login_button.svg" alt="ログイン" /></a></li>
                </ul>
            </div>
        </div>

        <div class="mainmenu_main">
            <ul>
                <li><a href="" class="current">トップページ</a></li>
                <li><a href="">マイページ</a></li>
                <li><a href="">店舗検索</a></li>
                <li><a href="">新規店舗登録</a></li>
            </ul>
        </div>

        <!-- トップページのみ ----------->
        <div class="mainmenu_footer"  ng-show="mainPage">
            <h2><img src="./assets/./images/header/top_mess.svg" alt="ココ社長" /></h2>
        </div>

    </nav>

  </header>
