<div class="modal-header">
    <h4 class="modal-title">編集</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">

    <div class="row">
        <div class="container-fluid">
            <h1 class="page-header margin-top-sm">新規登録</h1>
        </div>
    <div class="row">
        <div class="container">
            <form class="form-horizontal" name="myForm" novalidate>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="editData.title" class="control-label">タイトル&nbsp;<span class="text-danger text-xs">※</span></label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="editData.title" value="" ng-model="editData.title" id="editData.title" class="form-control" placeholder="タイトル" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="editData.body" class="control-label">内容&nbsp;<span class="text-danger text-xs">※</span></label>
                    </div>
                    <div class="col-sm-4">
                        <textarea name="editData.body" rows="8" cols="40" ng-model="editData.body" id="editData.body" class="form-control" placeholder="内容"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.row2 -->
</div>
<br>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="updateAPI(editData)">更新</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
</div>
