<div id="shopDetail_main">
    <div id="shopDetail_top">
        <p class="main_photo"><img class="withParent" ng-src="./../../assets/images/comments/566f9c2cfcb58a8409f65d6d/43fe602a73489668c4614a84592bf27f.jpg"</p>
        <ul class="sub_photo">
            <li>PHOTO</li>
            <li>PHOTO</li>
            <li>PHOTO</li>
            <li>PHOTO</li>
            <li>PHOTO</li>
            <li>PHOTO</li>
            <li>PHOTO</li>
            <li>PHOTO</li>
        </ul>
        <div id="top_person">
            <div class="top_person_info">
                <p class="fontSize12">登録者</p>
                <p class="top_thumbnail">サムネ</p>
                <p class="fontSize12">{{item.registerUser}}</p>
            </div>
            <div class="person_reviews">
                <h3>{{item.title}}</h3>
                <div class="fontSize12 top_reviews_impressions">
                    <p ng-class="{'max_text':!more}">{{item.introduce}}</p>
                    <p ng-click="more=true" ng-model="more" ng-show="!more" id="seeMore"><a href="">もっと見る</a></p>
                    <p ng-click="more=false" ng-show="more"><a href="">閉じる</a></p>
                </div>
            </div>
            <p class="person_reviews_img"><img class="withParent" ng-src="./../../assets/images/comments/566f9c2cfcb58a8409f65d6d/369258974e48b69e44115b0de713f95d.jpg"</p>
        </div>
    </div>
    <div id="item_title">
        <div id="title_background">
            <h3>口コミ・評価</h3>
            <p class="white_btn shopDetail_btn" ng-click="wantGoFilter()"><a href="#"><i class="fa fa-map-marker"></i>&nbsp;行きたい</a></p>
            <p class="white_btn shopDetail_btn" ng-click="wentFilter()"><a href="#"><i class="fa fa-star"></i>&nbsp;行った(口コミ)</a></p>
        </div>
    </div>
    <div id="shopDetail_main_reviews">
        <!-- <div ng-repeat="itemComment in itemComments"> -->
        <div ng-repeat="itemComment in itemComments | filter: {'type': goFlg}">
            <div class="shopDetail_main_reviews_list">
                <div class="top_person_info">
                    <p class="top_thumbnail">サムネ</p>
                    <p class="fontSize12 person_reviews_name">{{itemComment.user.lastName}}&nbsp;{{itemComment.user.firstName}}</p>
                </div>
                <div ng-class="['arrow_box_blue', {'arrow_box_gray': !itemComment.type}]">
                    <div class="person_reviews">
                        <p ng-class="['review_state_blue', {'review_state_gray': !itemComment.type}]">{{itemComment.type ? '行った' : '行きたい'}}</p>
                        <h3>{{itemComment.title}}</h3>
                        <p class="review_date fontSize12">{{itemComment.create | date: 'yyyy-MM-dd'}}&nbsp;投稿</p>
                        <div class="fontSize12 top_reviews_impressions">
                            <span class="reviews_text">
                                <p class="max_text" ng-class="{'max_text':!roopMore}">{{itemComment.body}}</p>
                            </span>
                            <p class="top_reviews_img">PHOTO</p>
                            <p ng-click="roopMore=true" ng-model="roopMore" ng-show="!roopMore" id="seeMore"><a href="">もっと見る</a></p>
                            <p ng-click="roopMore=false" ng-show="roopMore"><a href="">閉じる</a></p>

                        </div>
                            <div class="box_header_small">
                                <ul>
                                    <li><h4><b>ジャンル</b>{{itemComment.genreAve | number: 1}}</h4></li>
                                    <li><h4><b>シーン</b>{{itemComment.sceneAve | number: 1}}</h4></li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="reviews_more"><a ui-sref="shopDetail.reviews({item: item})">口コミをもっと見る>>></a></p>

    <div id="item_title">
        <div id="title_background">
            <h3>店舗情報（詳細）</h3>
        </div>
    </div>
    <div id="shopDetail_info">
        <div class="shopDetail_info">
            <h5>■店舗基本情報</h5>
            <table>
                <tr>
                    <th>
                        店舗名
                    </th>
                    <td>
                        {{item.name}}
                    </td>
                </tr>
                <tr>
                    <th>
                        ジャンル・シーン
                    </th>
                    <td>
                        {{item.genreName}}<span ng-repeat="sceneName in item.sceneNames">,&nbsp;{{sceneName}}</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        電話番号
                    </th>
                    <td>
                        {{item.tel}}
                    </td>
                </tr>
                <tr>
                    <th>
                        住所
                    </th>
                    <td>
                        {{item.address.postalCode}}&nbsp;{{item.address.pref}}&nbsp;{{item.address.city}}&nbsp;{{item.address.town}}&nbsp;{{item.address.building}}</br>
                        <!-- <div class="map"> -->
                            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                                <ui-gmap-markers models="map.markers" coords="'self'">
                                    <ui-gmap-windows>
                                        <div>
                                            <br>
                                            {{map.markers[0].title}}
                                            <hr>
                                            {{map.markers[0].content}}
                                        </div>
                                    </ui-gmap-windows>
                                </ui-gmap-markers>
                            </ui-gmap-google-map>
                        <!-- </div> -->
                    </td>
                </tr>
                <tr>
                    <th>
                        アクセス
                    </th>
                    <td>
                        {{item.access || '-'}}
                    </td>
                </tr>
                <tr>
                    <th>
                        営業時間
                    </th>
                    <td>
                        <p>
                            【ランチ】&nbsp;&nbsp;{{item.fundation.lunch.start || '-'}}&nbsp;~&nbsp;{{item.fundation.lunch.finish || '-'}}&nbsp;(L.O{{item.fundation.lunch.last || '-'}})
                        </p>
                        <p>
                            【ディナー】{{item.fundation.diner.start || '-'}}&nbsp;~&nbsp;{{item.fundation.diner.finish || '-'}}&nbsp;(L.O{{item.fundation.diner.last || '-'}})
                        </p>
                        <p>
                            【土日祝】&nbsp;&nbsp;{{item.fundation.holiday.start || '-'}}&nbsp;~&nbsp;{{item.fundation.holiday.finish || '-'}}&nbsp;(L.O{{item.fundation.holiday.last || '-'}})
                        </p>
                    </td>
                </tr>
                <tr>
                    <th>
                        定休日
                    </th>
                    <td>
                        {{item.fundation.regularHoliday || '無'}}
                    </td>
                </tr>
                <tr>
                    <th>
                        カード
                    </th>
                    <td>
                        {{item.fundation.creditCard ? '可' : '不可'}}
                    </td>
                </tr>
            </table>
            <h5>■席・設備</h5>
            <table>
                <tr>
                    <th>
                        座席
                    </th>
                    <td>
                        {{item.sheat.count}}席/{{item.sheat.sofa ? 'ソファ席あり' : 'ソファ席なし'}}
                    </td>
                </tr>
                <tr>
                    <th>
                        個室
                    </th>
                    <td>
                        {{item.sheat.privateRoom ? 'あり' : 'なし'}}
                    </td>
                </tr>
                <tr>
                    <th>
                        貸切
                    </th>
                    <td>
                        {{item.sheat.charter ? 'あり' : 'なし'}}
                    </td>
                </tr>
                <tr ng-switch="item.sheat.smoke">
                    <th>
                        禁煙・喫煙
                    </th>
                    <td ng-switch-when="0">
                        禁煙
                    </td>
                    <td ng-switch-when="1">
                        分煙
                    </td>
                    <td ng-switch-when="2">
                        喫煙
                    </td>
                    <td ng-switch-default>
                        選択されていません
                    </td>
                </tr>
                <tr>
                    <th>
                        駐車場
                    </th>
                    <td>
                        {{item.sheat.parking ? 'あり' : 'なし'}}
                    </td>
                </tr>
                <tr>
                    <th>
                        空間・設備
                    </th>
                    <td>
                        {{item.sheat.spaceFeature || '-'}}
                    </td>
                </tr>
                <tr>
                    <th>
                        携帯電話
                    </th>
                    <td>
                        {{item.sheat.mobilePhone || '-'}}
                    </td>
                </tr>
            </table>
            <h5>■メニュー</h5>
            <table>
                <tr>
                    <th>
                        料理
                    </th>
                    <td>
                        {{item.menu.cuisine || '-'}}
                    </td>
                </tr>
                <tr>
                    <th>
                        ドリンク
                    </th>
                    <td>
                        {{item.menu.drink || '-'}}
                    </td>
                </tr>
                <tr>
                    <th>
                        コース
                    </th>
                    <td>
                        {{item.menu.cource || '-'}}
                    </td>
                </tr>
            </table>
            <h5>■特徴・関連情報</h5>
            <table>
                <tr>
                    <th>
                        ロケーション
                    </th>
                    <td>
                        {{item.feature.location || '-'}}
                    </td>
                </tr>
                <tr>
                    <th>
                        サービス
                    </th>
                    <td>
                        {{item.feature.service || '-'}}
                    </td>
                </tr>
                <tr>
                    <th>
                        ホームページ
                    </th>
                    <td>
                        {{item.feature.url || '-'}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
