<div id="shopDetail_main">
    <div id="shopDetail_photo_list">
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
        <div class="shopDetail_photo">
            <p class="photo_img">PHOTO</p>
            <p>ああああああ(投稿者)</p>
        </div>
    </div>
</div>
<div class="pager_box">
    <ul>
        <li><a href="" ng-click="currentPage=currentPage-1"><</a></li>
        <li ng-repeat="page in pages" ng-class="{current:$parent.currentPage==page}"><a href="" ng-click="$parent.currentPage=page">{{page}}</a></li>
        <li><a href="" ng-click="currentPage=currentPage+1">></a></li>
    </ul>
</div>
<p class="white_btn img_posting"><a href="#"><i class="fa fa-camera"></i>&nbsp;画像を投稿する</a></p>
