<coco-header></coco-header>

<div id="main" >


    <div id="main_side_wrap">

          <div id="main_contents" >

            <div class="loop_contents_box" ng-repeat="item in items | limitTo:10:0">

                <div class="left_box">
                    <ul>
<!-- TODO データが入ってから確認
                        <li ng-repeat="image in images | filter : {'deleteFlg': 0} | orderBy : 'sortNo'"><img src="{{image.path}}" /></li>
-->
                        <li><img src="./assets/./images/main/top/test01.jpg" /></li>
                        <li><img src="./assets/./images/main/top/test02.jpg" /></li>
                        <li><img src="./assets/./images/main/top/test03.jpg" /></li>
                    </ul>
                </div>

                <div class="right_box">
                    <h2>{{item.name}}</h2>
                    <ul class="category_list">
                        <li>（{{item.genreName}}）</li>
                        <li>（{{item.area}}）</li>
                        <li>（<span ng-repeat="sceneName in item.sceneNames">{{item.sceneNames}} </span>）</li>
                    </ul>
                    <hr />
                    <div class="button_box">
                        <div class="left">
                            <div class="box_header">
                               <ul>
                                    <li><h3><b>ジャンル</b>{{item_comments[item._id].genreAves | number:1}}</h3></li>
                                    <li><h3><b>シーン</b>{{item_comments[item._id].sceneAves | number:1}}</h3></li>
                                </ul>
                            </div>
                            <div class="box_main" ng-show="debug">
                                <ul>
                                    <li><span>味</span>0.0</li>
                                    <li><span>盛付</span>0.0</li>
                                    <li><span>品質</span>0.0</li>
                                    <li><span>創作</span>0.0</li>
                                    <li><span>ドリンク</span>0.0</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="text_box" ng-init="$parent.show_loading=true;">

                      <div class="sk-three-bounce" ng-show="show_loading">
                          <div class="sk-child sk-bounce1"></div>
                          <div class="sk-child sk-bounce2"></div>
                          <div class="sk-child sk-bounce3"></div>
                      </div>

                      <div class="left">
                          <div class="img_box"><img src="./assets/./images/users/{{item_comments[item._id].topick.userId}}.jpg" /></div>
                          <p>{{item_comments[item._id].topick.userFirsName}} {{item_comments[item._id].topick.userLastName}}</p>
                      </div>
                      <div class="right">
                          <h6>最新コメント</h6>
                          <p>{{item_comments[item._id].topick.body}}</p>
                          <a href="">もっと詳しく見る.</a>
                      </div>

                    </div>

                    <div class="footer_box">
                        <ul>
                            <li><h5>{{item.itemRecommendCounter.count}}人が推薦しています</h5><h6>{{item.itemLikesCounter}}人がいいねといっています</h6></li>
                            <li><a href="#" ng-click="showWentModal(item)"><img src="./assets/./images/main/parts/star_button.svg" alt="" /></a><a href="#" ng-click="showWannaModal(item)"><img src="./assets/./images/main/parts/point_button.svg" alt="" /></a></li>
                        </ul>
                    </div>

                  </div>

              </div>
          </div>

    </div>

</div><!-- #main -->
<ng-footer></ng-footer>
