
<div id="shopDetail_main">
    <div id="shopDetail_top">
        <div ng-repeat="itemComment in itemComments | filter: {'type': goFlg}">
            <div ng-class="['reviews_list_blue', {'reviews_list_gray': !itemComment.type}]">
                <div class="reviews_list_main">
                    <div class="reviews_top">
                        <h4 class="reviews_title">{{itemComment.item.name}}</h4>
                        <p class="reviews_date">{{itemComment.create | date: 'yyyy-MM-dd'}}</p>
                    </div>
                    <p class="gradation_thick_border"></p>
                    <p class="reviews_thumbnail">サムネ</p>
                    <div class="person_info">
                        <p class="person_name">{{itemComment.user.lastName}}&nbsp;{{itemComment.user.firstName}}さんの口コミ</p>
                        <p class="person_state">{{itemComment.type ? '行った' : '行きたい'}}</p>
                    </div>
                    <p class="gradation_thin_border"></p>
                    <h5>{{itemComment.title}}</h5>
                    <div class="box_header">
                        <ul>
                            <li><h4><b>ジャンル</b>{{itemComment.genreAve | number: 1}}</h4></li>
                            <li><h4><b>シーン</b>{{itemComment.sceneAve | number: 1}}</h4></li>
                        </ul>
                    </div>
                    <p class="gradation_thin_border"></p>
                    <p class="impressions">
                        {{itemComment.body}}
                    </p>
                    <p class="see_more"><a href="#">もっと見る</a></p>
                    <div class="reviews_img">
                        <ul>
                            <li>画像</li>
                            <li>画像</li>
                            <li>画像</li>
                            <li>画像</li>
                            <li>画像</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-class="['reviews_list_footer_blue', {'reviews_list_footer_gray': !itemComment.type}]">
                <p class="go_button white_btn" want-go-modal="{{itemComment.item}}"><a href="#"><i class="fa fa-map-marker"></i>&nbsp;行きたい</a></p>
                <p class="nice_button blue_btn" ng-click="like(itemComment)"><a href="#"><i class="fa fa-thumbs-o-up"></i>&nbsp;いいね</a></p>
            </div>
        </div>
    </div>
</div>
<div class="pager_box">
    <ul>
        <li><a href="" ng-click="currentPage=currentPage-1"><</a></li>
        <li ng-repeat="page in pages" ng-class="{current:$parent.currentPage==page}"><a href="" ng-click="$parent.currentPage=page">{{page}}</a></li>
        <li><a href="" ng-click="currentPage=currentPage+1">></a></li>
    </ul>
</div>
