
<div id="shopDetail_main">
    <div id="shopDetail_top">
        <div class="reviews_list_blue">
            <div class="reviews_list_main">
                <div class="reviews_top">
                    <h4 class="reviews_title">ああああああああああああああ</h4>
                    <p class="reviews_date">2015/00/00</p>
                </div>
                <p class="gradation_thick_border"></p>
                <p class="reviews_thumbnail">サムネ</p>
                <div class="person_info">
                    <p class="person_name">○○　○○さんの口コミ</p>
                    <p class="person_state">行った</p>
                </div>
                <p class="gradation_thin_border"></p>
                <h5>【行った店の感想の題名】</h5>
                <div class="box_header">
                   <ul>
                        <li><h4><b>ジャンル</b>3.5</h4></li>
                        <li><h4><b>シーン</b>3.0</h4></li>
                    </ul>
                </div>
                <p class="gradation_thin_border"></p>
                <p class="impressions">
                    行った店の感想、オススメの内容です。行った店の感想、オススメの内容です。</br>
                    行った店の感想、オススメの内容です。</br>
                    行った店の感想、オススメの内容です。行った店の感想、オススメの内容です。</br></br>
                    行った店の感想、オススメの内容です。</br>
                    行った店の感想、オススメの内容です。行った店の感想、オススメの内容です。</br>
                    行った店の感想、オススメの内容です。
                </p>
                <p class="see_more"><a href="#">もっと見る</a></p>
                <div class="reviews_img">
                    <ul>
                        <li>画像</li>
                        <li>画像</li>
                        <li>画像</li>
                        <li>画像</li>
                        <li>画像</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="reviews_list_footer_blue">
            <p class="go_button white_btn"><a href="#"><i class="fa fa-map-marker"></i>&nbsp;行きたい</a></p>
            <p class="nice_button blue_btn"><a href="#"><i class="fa fa-thumbs-o-up"></i>&nbsp;いいね</a></p>
        </div>
        <div class="reviews_list_gray">
            <div class="reviews_list_main">
                <div class="reviews_top">
                    <h4 class="reviews_title">ああああああああああああああ</h4>
                    <p class="reviews_date">2015/00/00</p>
                </div>
                <p class="gradation_thick_border"></p>
                <p class="reviews_thumbnail">サムネ</p>
                <div class="person_info">
                    <p class="person_name">○○　○○さんの口コミ</p>
                    <p class="person_state">行きたい</p>
                </div>
                <p class="gradation_thin_border"></p>
                <h5>【行った店の感想の題名】</h5>
                <div class="box_header">
                   <ul>
                        <li><h4><b>ジャンル</b>3.5</h4></li>
                        <li><h4><b>シーン</b>3.0</h4></li>
                    </ul>
                </div>
                <p class="gradation_thin_border"></p>
                <p class="impressions">
                    行った店の感想、オススメの内容です。行った店の感想、オススメの内容です。</br>
                    行った店の感想、オススメの内容です。</br>
                    行った店の感想、オススメの内容です。行った店の感想、オススメの内容です。</br></br>
                    行った店の感想、オススメの内容です。</br>
                    行った店の感想、オススメの内容です。行った店の感想、オススメの内容です。</br>
                    行った店の感想、オススメの内容です。
                </p>
                <p class="see_more"><a href="#">もっと見る</a></p>
            </div>
        </div>
        <div class="reviews_list_footer_gray">
            <p class="go_button white_btn"><a href="#"><i class="fa fa-map-marker"></i>&nbsp;行きたい</a></p>
            <p class="nice_button blue_btn"><a href="#"><i class="fa fa-thumbs-o-up"></i>&nbsp;いいね</a></p>
        </div>
    </div>
</div>
<div class="pager_box">
    <ul>
        <li><a href="" ng-click="currentPage=currentPage-1"><</a></li>
        <li ng-repeat="page in pages" ng-class="{current:$parent.currentPage==page}"><a href="" ng-click="$parent.currentPage=page">{{page}}</a></li>
        <li><a href="" ng-click="currentPage=currentPage+1">></a></li>
    </ul>
</div>
