<div id="shopDetail_main">
    <div id="shopDetail_photo_list">
        <div ng-repeat="image in item.images">
            <div class="shopDetail_photo">
                <p class="photo_img">
                    <img class="withParent" ng-src="image.path">
                </p>
                <p>{{item.introduce}}({{item.registerUser}})</p>
            </div>
        </div>
        <div ng-repeat="itemComment in itemComments">
            <div ng-repeat="image in itemComment.images">
                <div class="shopDetail_photo">
                    <p class="photo_img">
                        <img class="withParent" ng-src="image.path">
                    </p>
                    <p>{{image.title || 'No Title'}}({{image.registerUser || '名無しさん'}})</p>
                </div>
                <p class="text-muted no-photo h3" ng-show="item.images.length == 0 && itemComment.images == 0">
                    No Photo
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pager_box">
    <ul>
        <li><a href="" ng-click="currentPage=currentPage-1"><</a></li>
        <li ng-repeat="page in pages" ng-class="{current:$parent.currentPage==page}"><a href="" ng-click="$parent.currentPage=page">{{page}}</a></li>
        <li><a href="" ng-click="currentPage=currentPage+1">></a></li>
    </ul>
</div>
<p class="white_btn img_posting"><a href="#"><i class="fa fa-camera"></i>&nbsp;画像を投稿する</a></p>
