<ng-navbar></ng-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <h1 class="page-header margin-top-sm">新規登録</h1>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" name="myForm">
            <div class="col-sm-6">
                <div class="row">
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser.email" class="control-label">E-mail</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser.email" value="" ng-model="newUser.email" id="newUser.email" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser.password" class="control-label">パスワード</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" name="newUser.password" value="" ng-model="newUser.password" id="newUser.password" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser.lastName" class="control-label">名前(姓)</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser.lastName" value="" ng-model="newUser.lastName" id="newUser.lastName" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser.firstName" class="control-label">名前(名)</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser.firstName" value="" ng-model="newUser.firstName" id="newUser.firstName" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser.birthYear" class="control-label">誕生年</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser.birthYear" value="" ng-model="newUser.birthYear" id="newUser.birthYear" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser.birthPref" class="control-label">生まれた都道府県</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser.birthPref" value="" ng-model="newUser.birthPref" id="newUser.birthPref" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser.highSchoolYear" class="control-label">高校卒業年</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser.highSchoolYear" value="" ng-model="newUser.highSchoolYear" id="newUser.highSchoolYear" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser.highSchoolName" class="control-label">高校名</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser.highSchoolName" value="" ng-model="newUser.highSchoolName" id="newUser.highSchoolName" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser.universityYear" class="control-label">大学卒業年</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser.universityYear" value="" ng-model="newUser.universityYear" id="newUser.universityYear" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser.universityName" class="control-label">大学名</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser.universityName" value="" ng-model="newUser.universityName" id="newUser.universityName" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser" class="control-label">外部認証名</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser" value="" ng-model="newUser" id="newUser" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser" class="control-label">外部認証キー</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser" value="" ng-model="newUser" id="newUser" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser" class="control-label">専門分野</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser" value="" ng-model="newUser" id="newUser" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newUser" class="control-label">会社名</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newUser" value="" ng-model="newUser" id="newUser" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newUser" class="control-label">郵便番号(会社)</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newUser" value="" ng-model="newUser" id="newUser" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newUser" class="control-label">住所(会社)</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newUser" value="" ng-model="newUser" id="newUser" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newUser" class="control-label">電話番号(会社)</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newUser" value="" ng-model="newUser" id="newUser" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newItem.kana" class="control-label">FAX番号(会社)</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newItem.kana" value="" ng-model="newItem.kana" id="newItem.kana" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newItem.kana" class="control-label">ホームページ(会社)</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newItem.kana" value="" ng-model="newItem.kana" id="newItem.kana" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newItem.kana" class="control-label">E-mail(会社)</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newItem.kana" value="" ng-model="newItem.kana" id="newItem.kana" class="form-control" placeholder="店舗名(カナ)" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newItem.kana" class="control-label">仕事について</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="name" value="" class="form-control" ng-model="newItem.kana" placeholder="タイトル">
                                <br>
                                <textarea name="name" rows="8" cols="40" ng-model="newItem.kana" id="" class="form-control" placeholder="本文"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newItem.kana" class="control-label">その他</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="name" value="" class="form-control" ng-model="newItem.kana" placeholder="タイトル">
                                <br>
                                <textarea name="name" rows="8" cols="40" ng-model="newItem.kana" id="" class="form-control" placeholder="本文"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="button" class="btn btn-info btn-lg" ng-click="registerItem()" ng-disabled="myForm.$invalid">登録</button>
                            <button type="button" class="btn btn-default btn-lg" ui-sref="users">戻る</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
