<ng-navbar></ng-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <h1 class="page-header margin-top-sm">新規登録</h1>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" name="myForm" novalidate>
            <div class="col-sm-6">
                <div class="row">
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.email" class="control-label">E-mail&nbsp;<span class="text-danger text-xs">※<span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.email" value="" ng-model="newData.email" id="newData.email" class="form-control" placeholder="E-mail" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.password" class="control-label">パスワード&nbsp;<span class="text-danger text-xs">※<span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" name="newData.password" value="" ng-model="newData.password" id="newData.password" class="form-control" placeholder="パスワード" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.lastName" class="control-label">名前(姓)&nbsp;<span class="text-danger text-xs">※</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.lastName" value="" ng-model="newData.lastName" id="newData.lastName" class="form-control" placeholder="名前(姓)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.firstName" class="control-label">名前(名)&nbsp;<span class="text-danger text-xs">※</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.firstName" value="" ng-model="newData.firstName" id="newData.firstName" class="form-control" placeholder="名前(名)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.birthYear" class="control-label">誕生年</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.birthYear" value="" ng-model="newData.birthYear" id="newData.birthYear" class="form-control" placeholder="誕生年">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.birthPref" class="control-label">生まれた都道府県</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.birthPref" value="" ng-model="newData.birthPref" id="newData.birthPref" class="form-control" placeholder="生まれた都道府県">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.highSchoolYear" class="control-label">高校卒業年</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.highSchoolYear" value="" ng-model="newData.highSchoolYear" id="newData.highSchoolYear" class="form-control" placeholder="高校卒業年">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.highSchoolName" class="control-label">高校名</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.highSchoolName" value="" ng-model="newData.highSchoolName" id="newData.highSchoolName" class="form-control" placeholder="高校名">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.universityYear" class="control-label">大学卒業年</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.universityYear" value="" ng-model="newData.universityYear" id="newData.universityYear" class="form-control" placeholder="大学卒業年">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.universityName" class="control-label">大学名</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.universityName" value="" ng-model="newData.universityName" id="newData.universityName" class="form-control" placeholder="大学名">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.oAuthName" class="control-label">外部認証名</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.oAuthName" value="" ng-model="newData.oAuthName" id="newData.oAuthName" class="form-control" placeholder="外部認証名">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.oAuthKey" class="control-label">外部認証キー</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.oAuthKey" value="" ng-model="newData.oAuthKey" id="newData.oAuthKey" class="form-control" placeholder="外部認証キー">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.specialized" class="control-label">専門分野</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.specialized" value="" ng-model="newData.specialized" id="newData.specialized" class="form-control" placeholder="専門分野">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.images.path" class="control-label">画像パス</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.images.path" value="" ng-model="newData.images.path" id="newData.images.path" class="form-control" placeholder="画像パス">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="newData.company.name" class="control-label">会社名&nbsp;<span class="text-danger text-xs">※</span></label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="newData.company.name" value="" ng-model="newData.company.name" id="newData.company.name" class="form-control" placeholder="会社名" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newData.company.postalCode" class="control-label">郵便番号(会社)&nbsp;<span class="text-danger text-xs">※</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newData.company.postalCode" value="" ng-model="newData.company.postalCode" id="newData.company.postalCode" class="form-control" placeholder="郵便番号(会社)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newData.company.address" class="control-label">住所(会社)&nbsp;<span class="text-danger text-xs">※</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newData.company.address" value="" ng-model="newData.company.address" id="newData.company.address" class="form-control" placeholder="住所(会社)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newData.company.tel" class="control-label">電話番号(会社)&nbsp;<span class="text-danger text-xs">※</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newData.company.tel" value="" ng-model="newData.company.tel" id="newData.company.tel" class="form-control" placeholder="電話番号(会社)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newData.company.fax" class="control-label">FAX番号(会社)</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newData.company.fax" value="" ng-model="newData.company.fax" id="newData.company.fax" class="form-control" placeholder="FAX番号(会社)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newData.company.url" class="control-label">ホームページ(会社)</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newData.company.url" value="" ng-model="newData.company.url" id="newData.company.url" class="form-control" placeholder="ホームページ(会社)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-4 text-left">
                                <label for="newData.company.email" class="control-label">E-mail(会社)</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="newData.company.email" value="" ng-model="newData.company.email" id="newData.company.email" class="form-control" placeholder="E-mail(会社)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="container-fluid">
                        <div ng-repeat="aboutWork in newData.aboutWorks">
                            <div class="form-group">
                                <div class="col-sm-4 text-left">
                                    <label for="newData.aboutWork.title" class="control-label" ng-show="aboutWork.label">仕事について</label>
                                    <br>
                                    <br>
                                    <button type="button" ng-click="addAboutWorks()" class="btn btn-success" ng-disabled="aboutWork.disabled" ng-show="aboutWork.button">さらに追加する</button>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" name="newData.aboutWork.title" value="" class="form-control" ng-model="aboutWork.title" placeholder="タイトル">
                                    <br>
                                    <textarea name="newData.aboutWork.body" rows="6" cols="40" ng-model="aboutWork.body" id="" class="form-control" placeholder="本文"></textarea>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="other in newData.others">
                            <div class="form-group">
                                <div class="col-sm-4 text-left">
                                    <label for="newData.other.title" class="control-label" ng-show="other.label">その他</label>
                                    <br>
                                    <br>
                                    <button type="button" ng-click="addOthers()" class="btn btn-success" ng-disabled="other.disabled" ng-show="other.button">さらに追加する</button>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" name="newData.other.title" value="" class="form-control" ng-model="other.title" placeholder="タイトル">
                                    <br>
                                    <textarea name="newData.other.body" rows="6" cols="40" ng-model="other.body" id="" class="form-control" placeholder="本文"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="button" class="btn btn-info btn-lg" ng-click="saveAPI()" ng-disabled="myForm.$invalid">登録</button>
                            <button type="button" class="btn btn-default btn-lg" ui-sref="users">戻る</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
