<!-- CSS -->
<link rel="stylesheet" href="./bower/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

<!-- BODY -->
<ng-navbar></ng-navbar>
<div class="container-fluid">
    <h1 class="page-header margin-top-sm">コメント一覧</h1>
<div class="row">
    <div ng-controller="AlertController">
        <div class="container-fluid">
            <div class="col-sm-offset-4 col-sm-4">
                <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="alert animate alertAnimate">{{alert.msg}}</uib-alert>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <button type="button" ui-sref="adminNewComment" class="btn btn-danger">新規登録</button>
    </div>
    <br>
</div>
<!-- テーブル -->
<div class="table-responsive">
    <table class="table table-bordered">
        <tr class="danger">
            <th>
                ID
            </th>
            <th>
                名前
            </th>
            <th>
                店舗
            </th>
            <th>
                タイトル
            </th>
            <th>
                いいね!数
            </th>
            <th>
                ジャンル平均点
            </th>
            <th>
                シーン平均点
            </th>
            <th>
                登録日
            </th>
            <th>
                更新日
            </th>
            <th>
                編集
            </th>
            <th>
                削除
            </th>
        </tr>
        <tr ng-repeat="data in datas">
            <td>
                {{data._id}}
            </td>

            <td>
                {{data.user.lastName}}&nbsp;{{data.user.firstName}}
            </td>
            <td>
                {{data.item.name}}
            </td>
            <td>
                {{data.title}}
            </td>
            <td>
                {{data.itemLikesCounter.count}}&nbsp;いいね!
            </td>
            <td>
                {{data.genreAve | number: 1}}&nbsp;点
            </td>
            <td>
                {{data.scenesAve | number: 1}}&nbsp;点
            </td>
            <td>
                {{data.created | date: 'yyyy-MM-dd HH:mm:dd'}}
            </td>
            <td>
                {{data.modified | date: 'yyyy-MM-dd HH:mm:dd'}}
            </td>
            <td>
                <button class="btn btn-xs btn-success width-lg" ng-click="showEditModal($index)">編集</button>
            </td>
            <td>
                <button class="btn btn-xs btn-danger width-lg" delete-modal="{{$index}}">削除</button>
            </td>
        </tr>
    </table>
</div>
</div>
