<ng-navbar></ng-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <h1 class="page-header margin-top-sm">新規登録</h1>
        </div>
    <div class="row">
        <div class="container">
            <form class="form-horizontal" name="myForm" novalidate>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.name" class="control-label">店舗名</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newItem.name" value="" ng-model="newItem.name" id="newItem.name" class="form-control" placeholder="店舗名" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.branch" class="control-label">支店名</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newItem.branch" value="" ng-model="newItem.branch" id="newItem.branch" class="form-control" placeholder="支店名">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.area" class="control-label">エリア</label>
                    </div>
                    <div class="col-sm-4">
                        <select  name="newItem.area" ng-model="newItem.area" class="form-control" ng-options="area.name as area.name for area in areas">
                            <option value="" class="">以下のエリアから選択して下さい</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.tel" class="control-label">電話番号</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newItem.tel" value="" ng-model="newItem.tel" id="newItem.tel" class="form-control" placeholder="電話番号" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.tel" class="control-label">ジャンル名</label>
                    </div>
                    <div class="col-sm-4">
                        <select  name="newItem.genreName" ng-model="newItem.genreName" class="form-control" ng-options="genre.name as genre.name for genre in genres">
                            <option value="" class="">以下のジャンルから選択して下さい</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.kana" class="control-label">店舗名(カナ)</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newItem.kana" value="" ng-model="newItem.kana" id="newItem.kana" class="form-control" placeholder="店舗名(カナ)" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.otherName" class="control-label">店舗名(別称)</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newItem.otherName" value="" ng-model="newItem.otherName" id="newItem.otherName" class="form-control" placeholder="店舗名(別称)" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.address.postalCode" class="control-label">郵便番号</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newItem.address.postalCode" value="" ng-model="newItem.address.postalCode" id="newItem.address.postalCode" class="form-control" placeholder="郵便番号" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.address.pref" class="control-label">都道府県</label>
                    </div>
                    <div class="col-sm-4">
                        <select  name="newItem.address.pref" ng-model="newItem.address.pref" class="form-control" ng-options="pref.label as pref.label for pref in prefs">
                            <option value="" class="">以下の都道府県から選択して下さい</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.address.city" class="control-label">市区町村</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newItem.address.city" value="" ng-model="newItem.address.city" id="newItem.address.city" class="form-control" placeholder="市区町村" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.address.town" class="control-label">町番地</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newItem.address.town" value="" ng-model="newItem.address.town" id="newItem.address.town" class="form-control" placeholder="町番地" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newItem.address.building" class="control-label">ビル名</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newItem.address.building" value="" ng-model="newItem.address.building" id="newItem.address.building" class="form-control" placeholder="ビル名" required>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-warning btn-lg" ng-click="registerItem()" ng-disabled="myForm.$invalid">登録</button>
                        <button type="button" class="btn btn-default btn-lg" ui-sref="items">戻る</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.row2 -->
</div><!-- /.firstContainer -->
