
<h1 class="page-header">店舗一覧</h1>

<!-- テーブル -->
<div class="table-responsive">
    <table class="table table-bordered">
        <tr class="warning">
            <th>
                ID
            </th>
            <th>
                店舗名
            </th>
            <th>
                支店名
            </th>
            <th>
                電話番号
            </th>
            <th>
                登録日
            </th>
            <th>
                更新日
            </th>
            <th>
                シーン
            </th>
            <th>
                ジャンル
            </th>
            <th>
                タグ
            </th>
            <th>
                編集
            </th>
            <th>
                削除
            </th>
        </tr>
        <tr ng-repeat="item in items">
            <td>
                {{item._id}}
            </td>
            <td>
                {{item.itemName}}
            </td>
            <td>
                {{item.itemBranch}}
            </td>
            <td>
                {{item.itemTel}}
            </td>
            <td>
                {{item.created}}
            </td>
            <td>
                {{item.modified}}
            </td>
            <td>
                <button name="scenesBtn" class="btn btn-xs btn-info rowNo-{{$index}}" ng-click="showModalScenes($index)">シーン詳細</button>
            </td>
            <td>
                <button name="genresBtn" class="btn btn-xs btn-info rowNo-{{$index}}" ng-click="showModalGenres($index)">ジャンル詳細</button>
            </td>
            <td>
                <button name="tagsBtn" class="btn btn-xs btn-info rowNo-{{$index}}" ng-click="showModalTags($index)">タグ詳細</button>
            </td>
            <td>
                <button name="editBtn" class="btn btn-xs btn-success rowNo-{{$index}}" ng-click="showModalEdit($index)">編集</button>
            </td>
            <td>
                <button name="deleteBtn" class="btn btn-xs btn-danger rowNo-{{$index}}" ng-click="showModalDelete($index)">削除</button>
            </td>
        </tr>
    </table>
</div>
