<ng-navbar></ng-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <h1 class="page-header margin-top-sm">新規登録</h1>
        </div>
    <div class="row">
        <div class="container">
            <form class="form-horizontal" name="myForm" novalidate>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.name" class="control-label">店舗名&nbsp;<span class="text-danger text-xs">※</span></label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newData.name" value="" ng-model="newData.name" id="newData.name" class="form-control" placeholder="店舗名" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.branch" class="control-label">支店名</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newData.branch" value="" ng-model="newData.branch" id="newData.branch" class="form-control" placeholder="支店名">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.area" class="control-label">エリア&nbsp;<span class="text-danger text-xs">※</span></label>
                    </div>
                    <div class="col-sm-4">
                        <select  name="newData.area" ng-model="newData.area" class="form-control" ng-options="area.name as area.name for area in areas" required>
                            <option value="" class="">以下のエリアから選択して下さい</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.tel" class="control-label">電話番号&nbsp;<span class="text-danger text-xs">※</span></label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newData.tel" value="" ng-model="newData.tel" id="newData.tel" class="form-control" placeholder="電話番号" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.tel" class="control-label">ジャンル名&nbsp;<span class="text-danger text-xs">※</span></label>
                    </div>
                    <div class="col-sm-4">
                        <select  name="newData.genreName" ng-model="newData.genreName" class="form-control" ng-options="genre.name as genre.name for genre in genres" required>
                            <option value="" class="">以下のジャンルから選択して下さい</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.kana" class="control-label">店舗名(カナ)&nbsp;<span class="text-danger text-xs">※</span></label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newData.kana" value="" ng-model="newData.kana" id="newData.kana" class="form-control" placeholder="店舗名(カナ)" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.otherName" class="control-label">店舗名(別称)</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newData.otherName" value="" ng-model="newData.otherName" id="newData.otherName" class="form-control" placeholder="店舗名(別称)">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.address.postalCode" class="control-label">郵便番号</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newData.address.postalCode" value="" ng-model="newData.address.postalCode" id="newData.address.postalCode" class="form-control" placeholder="郵便番号">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.address.pref" class="control-label">都道府県&nbsp;<span class="text-danger text-xs">※</span></label>
                    </div>
                    <div class="col-sm-4">
                        <select  name="newData.address.pref" ng-model="newData.address.pref" class="form-control" ng-options="pref.label as pref.label for pref in prefs" required>
                            <option value="" class="">以下の都道府県から選択して下さい</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.address.city" class="control-label">市区町村&nbsp;<span class="text-danger text-xs">※</span></label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newData.address.city" value="" ng-model="newData.address.city" id="newData.address.city" class="form-control" placeholder="市区町村" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.address.town" class="control-label">町番地</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newData.address.town" value="" ng-model="newData.address.town" id="newData.address.town" class="form-control" placeholder="町番地">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.address.building" class="control-label">ビル名</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newData.address.building" value="" ng-model="newData.address.building" id="newData.address.building" class="form-control" placeholder="ビル名">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="newData.images.path" class="control-label">画像パス</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="newData.images.path" value="" ng-model="newData.images.path" id="newData.images.path" class="form-control" placeholder="画像パス">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-warning btn-lg" ng-disabled="myForm.$invalid" ng-click="saveAPI()">登録</button>
                        <button type="button" class="btn btn-default btn-lg" ui-sref="items">戻る</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.row2 -->
</div><!-- /.firstContainer -->
