<ng-navbar></ng-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <h1 class="page-header margin-top-sm">新規登録</h1>
        </div>
    <div class="row">
        <div class="container">
            <form class="form-horizontal" name="myForm" novalidate>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="itemName" class="control-label">店舗名</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="itemName" value="" ng-model="itemName" id="itemName" class="form-control" placeholder="店舗名" required>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="itemKana" class="control-label">店舗名(カナ)</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="itemKana" value="" ng-model="itemKana" id="itemKana" class="form-control" placeholder="店舗名(カナ)" required>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="itemBranch" class="control-label">支店名</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="itemBranch" value="" ng-model="itemBranch" id="itemBranch" class="form-control" placeholder="支店名">

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="itemOtherName" class="control-label">店舗名(別称)</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="itemOtherName" value="" ng-model="itemOtherName" id="itemOtherName" class="form-control" placeholder="店舗名(別称)" required>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="itemTel" class="control-label">電話番号</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="itemTel" value="" ng-model="itemTel" id="itemTel" class="form-control" placeholder="電話番号" required>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="itemIntroduction" class="control-label">紹介文</label>
                    </div>
                    <div class="col-sm-4">
                        <textarea type="text" name="itemIntroduction" value="" ng-model="itemIntroduction" id="itemIntroduction" class="form-control" placeholder="紹介文" required></textarea>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="address.postalCode" class="control-label">郵便番号</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="address.postalCode" value="" ng-model="address.postalCode" id="address.postalCode" class="form-control" placeholder="郵便番号" required>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="address.pref" class="control-label">都道府県</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="address.pref" value="" ng-model="address.pref" id="address.pref" class="form-control" placeholder="都道府県" required>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="address.city" class="control-label">市区町村</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="address.city" value="" ng-model="address.city" id="address.city" class="form-control" placeholder="市区町村" required>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="address.town" class="control-label">町番地</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="address.town" value="" ng-model="address.town" id="address.town" class="form-control" placeholder="町番地" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="address.building" class="control-label">ビル名</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="address.building" value="" ng-model="address.building" id="address.building" class="form-control" placeholder="ビル名" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="genre" class="control-label">ジャンル</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="genres" ng-model="genre" ng-options="genre.name for genre in genres" required>
                            <option value="">ジャンルを選択して下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="selectGenre">
                    <div class="col-sm-offset-1 col-sm-3 text-left">
                        <label for="genre" class="control-label" ng-bind="genre.taste"></label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="tasteRate" ng-options="rate.rating for rate in rates" required>
                            <option value="">レートを選んで下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="selectGenre">
                    <div class="col-sm-offset-1 col-sm-3 text-left">
                        <label for="genre" class="control-label" ng-bind="genre.beautiful" required></label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="beautifulRate" ng-options="rate.rating for rate in rates" required>
                            <option value="">レートを選んで下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="selectGenre">
                    <div class="col-sm-offset-1 col-sm-3 text-left">
                        <label for="genre" class="control-label" ng-bind="genre.quality"></label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="qualityRate" ng-options="rate.rating for rate in rates" required>
                            <option value="">レートを選んで下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="selectGenre">
                    <div class="col-sm-offset-1 col-sm-3 text-left">
                        <label for="genre" class="control-label" ng-bind="genre.originality"></label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="originalityRate" ng-options="rate.rating for rate in rates" required>
                            <option value="">レートを選んで下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="selectGenre">
                    <div class="col-sm-offset-1 col-sm-3 text-left">
                        <label for="genre" class="control-label" ng-bind="genre.sense"></label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="senseRate" ng-options="rate.rating for rate in rates" required>
                            <option value="">レートを選んで下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 text-left">
                        <label for="scenes" class="control-label">シーン</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="scenes" ng-model="scene" ng-options="scene.name for scene in scenes" required>
                            <option value="">シーンを選択して下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="selectScene">
                    <div class="col-sm-offset-1 col-sm-3 text-left">
                        <label for="scene" class="control-label" ng-bind="scene.value1"></label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="value1" ng-options="rate.rating for rate in rates" required>
                            <option value="">レートを選んで下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="selectScene">
                    <div class="col-sm-offset-1 col-sm-3 text-left">
                        <label for="scene" class="control-label" ng-bind="scene.value2"></label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="value2" ng-options="rate.rating for rate in rates" required>
                            <option value="">レートを選んで下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="selectScene">
                    <div class="col-sm-offset-1 col-sm-3 text-left">
                        <label for="scene" class="control-label" ng-bind="scene.value3"></label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="value3" ng-options="rate.rating for rate in rates" required>
                            <option value="">レートを選んで下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="selectScene">
                    <div class="col-sm-offset-1 col-sm-3 text-left">
                        <label for="scene" class="control-label" ng-bind="scene.value4"></label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="value4" ng-options="rate.rating for rate in rates" required>
                            <option value="">レートを選んで下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="selectScene">
                    <div class="col-sm-offset-1 col-sm-3 text-left">
                        <label for="scene" class="control-label" ng-bind="scene.value5"></label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="value5" ng-options="rate.rating for rate in rates" required>
                            <option value="">レートを選んで下さい</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-warning btn-lg" ng-click="registerItem()" ng-disabled="myForm.$invalid">登録</button>
                        <button type="button" class="btn btn-default btn-lg" ui-sref="items">戻る</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- /.row2 -->
</div><!-- /.firstContainer -->
