<header id="header">
    <div id="header_bg">
        <nav id="mainmenu">

            <div class="mainmenu_header">
                <h2><a ui-sref="main"><img src="./assets/./images/header/logo.svg" alt="ココ社長" /></a></h2>
                <button type="button" name="button" ng-show="isLogin" class="btn btn-default" id="logout_box" ng-click="logout();">Logout</button>
                <div id="login_box" ng-hide="isLogin">
                    <ul>
                        <li><input type="email" value="Email" ng-model="email" placeholder="E-mail"/></li>
                        <li><input type="password" value="Password" ng-model="password" placeholder="Password"/></li>
                        <li><button type="button" name="button" class="btn btn-default" ng-click="login();" style="height:15px;">Login</button></li>
                    </ul>
                </div>
            </div>
            <coco-navbar class="animate"></coco-navbar>

            <!-- login/mainのみ -->
            <div class="mainmenu_footer img-responsive">
                <h2><img src="./assets/./images/header/top_mess.svg" alt="ココ社長" /></h2>
            </div>
        </nav>
    </div>
  </header>
