
<div id="main" ng-show="!islogin">
    <div id="main_header">
        <h2><img src="./assets/./images/main/parts/title.svg" alt=""></h2>
        <h3>新規店舗登録</h3>
    </div>
    <div id="main_search_box">
        <div id="item_registration">
            <div id="item_title">
                <div id="title_background">
                    <h4>登録の手順</h4>
                </div>
            </div>
            <div id="item_navigation">
                <li><a class="navigation_aft">登録内容入力</a></li>
                <li><a class="navigation_def">登録内容確認</a></li>
                <li><a class="navigation_end_def">完了</a></li>
            </div>

            <div id="item_form">
                <form name="registForm" ng-submit="saveData();" novalidate>
                    <p>※は必須項目です</p>
                    <table>
                        <tr>
                            <th><label for="">店舗名※</label></th>
                            <td><input type="text" id="" class="" name="" value="" placeholder="例：coco社長" ng-model="newData.name" required></td>
                        </tr>
                        <tr>
                            <th><label for="">店舗名（フリガナ）※</label></th>
                            <td><input type="text" id="" class="" name="" value="" placeholder="例：ココシャチョウ" ng-model="newData.kana" required></td>
                        </tr>
                        <tr>
                            <th><label for="">支店名</label></th>
                            <td><input type="text" id="" class="" name="" value="" placeholder="例：東京支店" ng-model="newData.branch"></td>
                        </tr>
                        <tr>
                            <th><label for="">別表記</label></th>
                            <td><input type="text" id="" class="" name="" value="" placeholder="例：東京支店" ng-model="newData.otherName"></td>
                        </tr>
                        <tr>
                            <th><label for="">電話番号※</label></th>
                            <td><input type="text" id="" class="" name="" value="" placeholder="例：08014350211" ng-model="newData.tel" required></td>
                        </tr>
                        <tr>
                            <th><label for="">エリア※</label></th>
                            <td>
                                <select name="" ng-model="newData.area" ng-options="area.name as area.name for area in areas" required>
                                    <option value="">選択してください</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="">郵便番号※</label></th>
                            <td>
                                <input type="text" id="" class="" name="zip" value="" placeholder="350-0001" ng-model="newData.address.postalCode" required>
                                <button class="button_zipcode" name="" value="" onclick="AjaxZip3.zip2addr('zip','','address1','address2','address3');">住所検索>></button></label><br/>
                                <label class="label_zipcode">住所が自動で入力されます。</label>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="">店舗住所(都道府県)※</label></th>
                            <td>
                                <select name="address1" ng-model="newData.address.pref" ng-options="pref.label as pref.label for pref in prefs" required>
                                    <option value="">選択してください</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="">店舗住所(市区町村)※</label></th>
                            <td><input type="text" class="input_address" id="" name="address2" value="" placeholder="例：千代田区" ng-model="newData.address.city" required></td>
                        </tr>
                        <tr>
                            <th><label for="">店舗住所(町番地)※</label></th>
                            <td><input type="text" class="input_address" id="" name="address3" value="" placeholder="例：有楽町 1-2-2" ng-model="newData.address.town" required></td>
                        </tr>
                        <tr>
                            <th><label for="">店舗住所(ビル名)※</label></th>
                            <td><input type="text" class="input_address" id="" name="" value="" placeholder="例：東方日比谷ビル" ng-model="newData.address.building" required></td>
                        </tr>
                        <tr>
                            <th><label for="">ジャンル</label></th>
                            <td>
                                <label for="scenes">&nbsp;&nbsp;
                                <select id="scenes" name="scenes" ng-model="newData.genreName" ng-options="genre.name as genre.name for genre in genres" required>
                                    <option value="" selected>選択してください</option>
                                </select>
                                </label><span>※</span><br/>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="">シーン</label></th>
                            <td>
                                    <label for="scenes">&nbsp;&nbsp;
                                    <select id="scenes" name="scenes" ng-model="newData.sceneName" ng-options="scene.name as scene.name for scene in scenes" required>
                                        <option value="" selected>選択してください</option>
                                    </select>
                                    </label><span>※</span><br/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="">タイトル※</label></th>
                            <td><input type="text" class="input_address" id="" name="" value="" placeholder="" ng-model="newData.title" required></td>
                        </tr>
                        <tr>
                            <th><label for="">紹介文※</label></th>
                            <td><textarea id="" class="" name="" placeholder="" ng-model="newData.introduce" required></textarea></td>
                        </tr>
                        <tr>
                            <th><label for="">画像登録</label></th>
                            <td>
                            <div class="col-sm-11 text-sm">
                                <div class="upload-area" ngf-drop ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="false" ngf-accept="'.jpg, .png, .gif'">
                                    <div clss="upload-drop">アップロードする画像をドラッグしてください。</div>
                                </div>
                                <div ng-repeat="image in files track by $index | limitTo: 5" style="float:left;">
                                    <div>
                                      <img ngf-src="image" ngf-accept="'image/*'" class="upload-show-image">
                                    </div>
                                    <div style="text-align: center;">
                                      <button ng-click="files.splice($index, 1)">削除</button>
                                    </div>
                                </div>
                                <span ngf-no-file-drop>
                                    <div class="upload-button">
                                        ファイルを選択
                                        <input type="file" onchange="uv.style.display='inline-block'; uv.value = this.value;" />
                                    </div>
                                    <div class="upload-value">
                                        <input class="upload-text" type="text" id="uv"/>
                                    </div>
                                </span>
                            </div>
                            </td>
                        </tr>
                    </table>
                    <div id="button">
                        <button class="button_submit" ui-sref="newItem.confirm({newData: newData})" ng-disabled="registForm.$invalid">確認画面へ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
