<div ng-controller="SidebarController">

    <div id="sidemenu">

        <div class="sidemenu_box">
            <h3>エリアから探す</h3>
            <ul ng-repeat="area in areas">
                <li><a href="">{{area.name}}</a></li>
            </ul>
        </div>

        <div class="sidemenu_box">
            <h3>利用用途から探す</h3>
            <ul ng-repeat="scene in scenes">
                <li><a href="">{{scene.name}}</a></li>
            </ul>
        </div>

        <div class="sidemenu_box">
            <h3>ジャンルから探す</h3>
            <ul ng-repeat="genre in genres">
                <li><a href="">{{genre.name}}</a></li>
            </ul>
        </div>

    </div>
</div>
