<ng-navbar></ng-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-default" id="loginPanel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="login()" name="loginForm" novalidate>
                            <div class="form-group" ng-class="{'has-error': error}">
                                <input type="text" placeholder="E-mail" class="form-control" ng-model="email" required >
                            </div>
                            <div class="form-group" ng-class="{'has-error': error}">
                                <input type="password" placeholder="Password" class="form-control" ng-model="password" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-default form-control" ng-disabled="loginForm.$invalid" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
