<div class="modal-header">
    <h4 class="modal-title">{{item.name}}の「行きたい」を登録</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="container-fluid text-sm">
            <div>
                <div class="col-sm-3">
                    コメント
                </div>
                <br>
                <br>
                <div class="col-sm-9 text-sm">
                    <textarea name="name" rows="8" cols="40" class="form-control margin-bottom-sm" ng-model='newData.body'></textarea>
                </div>
            </div>
</div><!-- /modal-body -->
<div class="modal-footer">
    <button class="btn" type="button" ng-click="cancel()" ng-disabled="myForm.$invalid">戻る</button>
    <button class="btn" type="button" ng-click="save(newData)">登録する</button>
</div>
