<div class="modal-header">
    <h4 class="modal-title">パスワード変更</h4>
</div>
<div class="modal-body">

    <div class="row">
        <form class="form-horizontal" name="myForm" novalidate>
            <div class="col-sm-6">
                <div class="row">
                    <div class="container-fluid">
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="editData.oldPassword" class="control-label">旧パスワード</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="editData.oldPassword" value="" ng-model="editData.oldPassword" id="editData.oldPassword" class="form-control" placeholder="旧パスワード" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 text-left">
                                <label for="editData.newPassword" class="control-label">新パスワード</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="editData.newPassword" value="" ng-model="editData.newPassword" id="editData.newPassword" class="form-control" placeholder="新パスワード" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 text-left">
                                <label for="editData.confirmPassword" class="control-label">新パスワード（確認用）</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="editData.confirmPassword" value="" ng-model="editData.confirmPassword" id="editData.confirmPassword" class="form-control" placeholder="新パスワード（確認用）" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="update(editData)">更新</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">キャンセル</button>
</div>
