<div class="modal-header">
    <h4 class="modal-title">画像投稿</h4>
</div>
<div class="modal-body">
    <div class="text-center text-muted" id="uploadBox">
        <div class="padding-top-sm">
            <i class="fa fa-cloud-upload fa-5x"></i>
        </div>
        <br>
        <p>
            ファイルをアップロードする
        </p>
    </div>
</div><!-- /modal-body -->
<div class="modal-footer">
    <button class="btn" type="button" ng-click="cancel()">戻る</button>
    <button class="btn" type="button" ng-click="save(newData)" ng-disabled="myForm.$invalid">登録する</button>
</div>
