<div class="modal-header">
    <h4 class="modal-title">{{newData.item.name}}の「行った」を登録</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="container-fluid text-sm">
            <div class="row">
                <div class="container-fluid">
                    ジャンル：{{newData.genre.name}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container-fluid">
                    <div ng-repeat="option in newData.genre.options">
                        <div class="col-sm-5">
                            <label for="name">{{option.label}}の評価基準</label>
                        </div>
                        <div class="col-sm-7" id="name">
                            <input type="radio" name="{{option.label}}" value="1" id="rate1" class="margin-left-md" ng-model="option.rate">
                            <label for="rate1">1</label>
                            <input type="radio" name="{{option.label}}" value="2" id="rate2" class="margin-left-sm" ng-model="option.rate">
                            <label for="rate2">2</label>
                            <input type="radio" name="{{option.label}}" value="3" id="rate3" class="margin-left-sm" ng-model="option.rate">
                            <label for="rate3">3</label>
                            <input type="radio" name="{{option.label}}" value="4" id="rate4" class="margin-left-sm" ng-model="option.rate">
                            <label for="rate4">4</label>
                            <input type="radio" name="{{option.label}}" value="5" id="rate5" class="margin-left-sm" ng-model="option.rate">
                            <label for="rate5">5</label>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="container-fluid text-sm">
            <div class="row">
                <div class="container-fluid">
                    シーン：デート利用
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container-fluid">
                    <div class="col-sm-5">
                        <label for="name">1の評価基準</label>
                    </div>
                    <div class="col-sm-7" id="name">
                        <input type="radio" name="{{option.label}}" value="1" id="rate1" class="margin-left-md" ng-model="newData.scene.options.value1.rate">
                        <label for="rate1">1</label>
                        <input type="radio" name="{{option.label}}" value="2" id="rate2" class="margin-left-sm" ng-model="newData.scene.options.value1.rate">
                        <label for="rate2">2</label>
                        <input type="radio" name="{{option.label}}" value="3" id="rate3" class="margin-left-sm" ng-model="newData.scene.options.value1.rate">
                        <label for="rate3">3</label>
                        <input type="radio" name="{{option.label}}" value="4" id="rate4" class="margin-left-sm" ng-model="newData.scene.options.value1.rate">
                        <label for="rate4">4</label>
                        <input type="radio" name="{{option.label}}" value="5" id="rate5" class="margin-left-sm" ng-model="newData.scene.options.value1.rate">
                        <label for="rate5">5</label>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="col-sm-5">
                        <label for="name">2の評価基準</label>
                    </div>
                    <div class="col-sm-7" id="name">
                        <input type="radio" name="{{option.label}}" value="1" id="rate1" class="margin-left-md" ng-model="newData.scene.options.value2.rate">
                        <label for="rate1">1</label>
                        <input type="radio" name="{{option.label}}" value="2" id="rate2" class="margin-left-sm" ng-model="newData.scene.options.value2.rate">
                        <label for="rate2">2</label>
                        <input type="radio" name="{{option.label}}" value="3" id="rate3" class="margin-left-sm" ng-model="newData.scene.options.value2.rate">
                        <label for="rate3">3</label>
                        <input type="radio" name="{{option.label}}" value="4" id="rate4" class="margin-left-sm" ng-model="newData.scene.options.value2.rate">
                        <label for="rate4">4</label>
                        <input type="radio" name="{{option.label}}" value="5" id="rate5" class="margin-left-sm" ng-model="newData.scene.options.value2.rate">
                        <label for="rate5">5</label>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="col-sm-5">
                        <label for="name">3の評価基準</label>
                    </div>
                    <div class="col-sm-7" id="name">
                        <input type="radio" name="{{option.label}}" value="1" id="rate1" class="margin-left-md" ng-model="newData.scene.options.value3.rate">
                        <label for="rate1">1</label>
                        <input type="radio" name="{{option.label}}" value="2" id="rate2" class="margin-left-sm" ng-model="newData.scene.options.value3.rate">
                        <label for="rate2">2</label>
                        <input type="radio" name="{{option.label}}" value="3" id="rate3" class="margin-left-sm" ng-model="newData.scene.options.value3.rate">
                        <label for="rate3">3</label>
                        <input type="radio" name="{{option.label}}" value="4" id="rate4" class="margin-left-sm" ng-model="newData.scene.options.value3.rate">
                        <label for="rate4">4</label>
                        <input type="radio" name="{{option.label}}" value="5" id="rate5" class="margin-left-sm" ng-model="newData.scene.options.value3.rate">
                        <label for="rate5">5</label>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="col-sm-5">
                        <label for="name">4の評価基準</label>
                    </div>
                    <div class="col-sm-7" id="name">
                        <input type="radio" name="{{option.label}}" value="1" id="rate1" class="margin-left-md" ng-model="newData.scene.options.value4.rate">
                        <label for="rate1">1</label>
                        <input type="radio" name="{{option.label}}" value="2" id="rate2" class="margin-left-sm" ng-model="newData.scene.options.value4.rate">
                        <label for="rate2">2</label>
                        <input type="radio" name="{{option.label}}" value="3" id="rate3" class="margin-left-sm" ng-model="newData.scene.options.value4.rate">
                        <label for="rate3">3</label>
                        <input type="radio" name="{{option.label}}" value="4" id="rate4" class="margin-left-sm" ng-model="newData.scene.options.value4.rate">
                        <label for="rate4">4</label>
                        <input type="radio" name="{{option.label}}" value="5" id="rate5" class="margin-left-sm" ng-model="newData.scene.options.value4.rate">
                        <label for="rate5">5</label>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="col-sm-5">
                        <label for="name">5の評価基準</label>
                    </div>
                    <div class="col-sm-7" id="name">
                        <input type="radio" name="{{option.label}}" value="1" id="rate1" class="margin-left-md" ng-model="newData.scene.options.value5.rate">
                        <label for="rate1">1</label>
                        <input type="radio" name="{{option.label}}" value="2" id="rate2" class="margin-left-sm" ng-model="newData.scene.options.value5.rate">
                        <label for="rate2">2</label>
                        <input type="radio" name="{{option.label}}" value="3" id="rate3" class="margin-left-sm" ng-model="newData.scene.options.value5.rate">
                        <label for="rate3">3</label>
                        <input type="radio" name="{{option.label}}" value="4" id="rate4" class="margin-left-sm" ng-model="newData.scene.options.value5.rate">
                        <label for="rate4">4</label>
                        <input type="radio" name="{{option.label}}" value="5" id="rate5" class="margin-left-sm" ng-model="newData.scene.options.value5.rate">
                        <label for="rate5">5</label>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-5">
            <label for="name" class="text-sm">コメント</label>
        </div>
        <br>
        <br>
        <div class="container-fluid">
            <div class="col-sm-8">
                <textarea name="name" rows="8" class="form-control" ng-model="newData.body"></textarea>
            </div>
        </div>
    </div>
    <p>
        <hr>
    </p>
    <div class="row">
        <div class="container-fluid text-sm">
            <div class="col-sm-3">
                画像登録：
            </div>
            <div class="col-sm-9 text-sm">
                <div class="upload-area" ngf-drop ng-model="modalOption.files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="false" ngf-accept="'.jpg, .png, .gif'">
                    <div clss="upload-drop">アップロードする画像をドラッグしてください。</div>
                </div>
                <div ng-repeat="file in modalOption.files">
                    <img ngf-src="file" ngf-accept="'image/*'"  class="upload-show-image">
                </div>
                <span ngf-no-file-drop>
                    <div class="upload-button">
                        ファイルを選択
                        <input type="file" onchange="uv.style.display='inline-block'; uv.value = this.value;" />
                    </div>
                    <div class="upload-value">
                        <input class="upload-text" type="text" id="uv"/>
                    </div>
                </span>
            </div>
        </div>
    </div><!-- /row -->
</div>

</div><!-- /modal-body -->
<div class="modal-footer">
    <button class="btn" type="button" ng-click="cancel()" ng-disabled="myForm.$invalid">戻る</button>
    <button class="btn" type="button" ng-click="saveAPI(newData)">登録する</button>
</div>
